@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media (max-width: 575.98px) {
  .left {
    display: none;
  }
  .btn-text {
    display: none;
  }
  .img-mobile {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .left {
    display: none;
  }
  .btn-text {
    display: none;
  }
  .img-mobile {
    display: block;
  }
}

.flex-container {
  width: 100%;
  display: flex;
}

.left {
  flex: 2;
  position: relative;
}

.right {
  flex: 1;
  position: relative;
}

#background {
  position: absolute;
  left: 0;
}

#filter {
  position: relative;
}

#logo {
  position: absolute;
  width: 276px;
  height: 104px;
  top: 80px;
  left: 112px;
}

#tag {
  position: absolute;
  font-weight: 400;
  top: 200px;
  left: 112px;
  color: aliceblue;
}

#detail-tag-1 {
  position: absolute;
  top: 250;
  left: 112px;
}

#tag-progress-1 {
  position: absolute;
  left: 170px;
  top: 400px;
  color: aliceblue;
}

#progress-1 {
  position: absolute;
  top: 393px;
  left: 108px;
}

#num-1 {
  position: absolute;
  font-size: 30px;
  top: 398px;
  left: 125px;
  color: #5F2EEa;
}

#tag-progress-2 {
  position: absolute;
  left: 170px;
  top: 498px;
  color: aliceblue;
  opacity: 70%;
}

#progress-line-1 {
  position: absolute;
  left: 133px;
  top: 443px;
}

#progress-line-2 {
  position: absolute;
  left: 133px;
  top: 537px;
}

#progress-2 {
  position: absolute;
  top: 489px;
  left: 108px;
}

#num-2 {
  position: absolute;
  font-size: 30px;
  top: 494px;
  left: 125px;
  color: white;
}

#tag-progress-3 {
  position: absolute;
  left: 170px;
  top: 590px;
  color: aliceblue;
  opacity: 70%;
}

#progress-3 {
  position: absolute;
  top: 583px;
  left: 108px;
}

#num-3 {
  position: absolute;
  font-size: 30px;
  top: 588px;
  left: 125px;
  color: white;
}

.right-box {
  top: 100px;
  position: absolute;
}

input {
  width: 250;
  padding: 20px;
}

.input-sign-up {
  background-color: #FCFDFE;
  border: 2px solid #DEDEDE;
  border-radius: 4px;
  height: 30px;
  width: 360px;
  padding-right: 20px;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.button-sign-up {
  height: 40px;
  width: 360px;
  color: white;
  border: white;
  background-color: #5F2EEa;
}

.text-helper-1 {
  font-family: 'Mulish', sans-serif;
  padding-left: 30px;
}

.text-helper-2 {
  font-family: 'Mulish', sans-serif;
  padding-left: 170px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-google {
  background: #dd4b39;
  color: white;
  height: 50px;
  width: 100px;
  font-family: sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-facebook {
  background: #3B5998;
  height: 50px;
  width: 100px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-social {
  height: 10px;
  width: 180px;
  color: white;
  border: white;
  background-color: #FFFFFF;
  box-shadow: gray;
}