@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish&display=swap');

@media (max-width: 575.98px) {
  .left {
    display: none;
  }
  .btn-text {
    display: none;
  }
  .img-mobile {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .left {
    display: none;
  }
  .btn-text {
    display: none;
  }
  .img-mobile {
    display: block;
  }
}


@media (min-width: 992px) {
  .img-mobile {
    display: none;
  }
}

/* * {
  margin: 0px !;
  padding: 0px;
  box-sizing: border-box;
} */

.img-mobile {
  top: 10%;
  display: absolute;
}

.col-sm-8 {
  padding: 0 !important;
  margin: 0 !important;
}

.left {
  position: relative;
}

#background {
  width: 100%;
  position: absolute;
}

#filter {
  width: 100%;
  position: absolute;
}

#login-logo {
  position: absolute;
}

.headline {
  position: absolute;
  color: aliceblue;
  top: 70%;
}

.form-container {
  padding-top: 15%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 15%;
}

.title {  
  font-family: 'Inter', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;  
}

label {
  font-family: 'Inter', sans-serif;
}

.caption {
  font-family: 'Inter', sans-serif;
  opacity: 70%; 
}

.btn-primary {
  background-color:#5F2EEA;
}

.faded {
  opacity: 70%;
}

.btn-text {
  font-family: 'Inter', sans-serif;
  font-size: 80%;
}

.button-group {
  background-color: lightblue;
}

.soc-google {
  color: grey;
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px #888888;
}

.soc-facebook {
  color: grey;
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px #888888;
}